
#github_icon{
    background:white; 
    border-radius: 1rem;
}

#github_icon:hover{
    background:grey; 
}

.nav-link.active:hover{
color: #00b3ff;
}

#logo_Ukns{
    margin-top: 60px;
    width: 539px;
}

.web-header{
    display: flex;
    align-items: flex-start;
    background-color: #000;
    background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/bg.png);
    background-origin: border-box;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 33rem;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 18%;
    /* padding-bottom: 18%; */
    position: relative;
}

.web-title{
    color: #fff;
    font-family: Noto Sans SC;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 1rem;
}

.start_RUNT{
    background: linear-gradient(274.85deg,#4ecaff 3%,#64cfde 97.17%);
    border-radius: 2rem;
    box-shadow: 0 1px 2rem rgba(133,250,202,.34);
    display: flex;
    height: 3rem;
    justify-content: center;
    line-height: 3rem;
    width: 9rem;
    text-decoration: none;
    color: #000;
    transition: opacity;
}
.start_RUNT:hover {
    color: #000;
    /* transition: 0.3s; */
}
.card_LAt6, .start_RUNT {
    align-items: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.doc-btn_gVIP {
    align-items: center;
    background: hsla(0,0%,100%,.07);
    border: 1px solid #4ecaff;
    border-radius: 3rem;
    box-sizing: border-box;
    color: #00b3ff;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    margin-left: 2rem;
    transition: .3s;
    width: 9rem;
    text-decoration: none;
}

.header-button {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.guider{
    display: flex;
    background-color: #000;
}

.swiper {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}


.d-flex.bd-highlight.bg-dark a{
    color: rgba(255, 255, 255, 0.853);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
}

.d-flex.bd-highlight.bg-dark a:hover{
    background: linear-gradient(0, rgba(46,232,246,.3), rgba(0,238,255,0));
}



@media screen and (max-width: 966px){

}



@media screen and (max-width: 966px){
.header-button{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    width: 65%;

}
}


@media screen and (max-width: 966px){
    #logo_Ukns{
        width: 70vw;
        margin-top: 60px;
    } 
}


@media screen and (max-width: 966px){
    .web-title{
        font-size: 8vw
    }
}


@media screen and (max-width: 966px){
    .doc-btn_gVIP, .start_RUNT {
        width: 100%;
    }
}


@media screen and (max-width: 966px){
 .start_RUNT{
    margin-left: 2rem;
    margin-bottom: ;
 }
}
